<form *ngIf="step" [formGroup]="step">
  <ng-template matStepLabel>Fill out your name</ng-template>
  <div fxLayout="column" fxLayoutAlign="start start">
      <div fxLayoutGap="20px" fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field>
          <input matInput placeholder="Company Name" formControlName="companyName" required>
        </mat-form-field>
      </div>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="companyAddress" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Legal Structure" formControlName="legalStructure" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Revenue of Last year" formControlName="revenue" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Commercial Regsiters" formControlName="commerialRegister" required>
      </mat-form-field>
  </div>
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button [disabled]="!step.valid" mat-button matStepperNext>Next</button>
  </div>
</form>
